{% extends 'base.html' %}

{% block title %}Charts{% endblock %}

{% block content %}

<div class="container-fluid text-center pt-1">
    <div class="col mx-auto">
        <h3>Billboard's Hot 100</h3>
        <p><small>Database contains {{chart_total}} charts</small></p>
    </div>
</div>

{% for chart in charts.items %} 
    <div class="container">
        <div class="chart-date row text-center">
           
            <div class="col-12 h6">
            </div>
     
        </div>
        <div class="wrapper row ">
            <div class="col-1 bg-secondary container d-flex flex-column justify-content-center p-1">
                <div class="left-sidebar">
                    <a href="/charts/{{ charts.prev_num }}" 
                        class="h2 text-white"
                        {% if charts.page == 1 %}style="pointer-events:none"{% endif %}>
                        &laquo;
                    </a>
                </div>      
                      
            </div>
            <div class="center col-10 container ">
                <div class="content justify-content-center"> 
                    <div class="row ">
                        
                        <table class="chart-table" style="width:100%">
                            <tbody>  
                                <tr>
                                    <td class="top-track-row" colspan="4"> 
                                        <a href="/chart/{{ chart.chart_date }}">Week of {{chart.chart_date.strftime("%B %d, %Y")}}</a>
                                    </td>
                                </tr>
                            {% for song, appearance in results[loop.index0] %}    
                                <tr>
                                    <td class="track-rank h2" style="width:10%"  rowspan="2">{{appearance.rank}}</td>
                                    <td style="width:20%" rowspan="2">
                                        <img class="img-fluid track-art" src="{{song.song_img_url}}" />
                                        </td>
                                    <td class="track-details" style="width:60%">
                                        <p>
                                            {{song.title | truncate(40)}}    
                                        </p>
                                    </td>
                                    <td style="width:10%">
                                        <form method="POST" 
                                            action="/charts/{{charts.page}}/favorite/{{song.id}}"
                                            class="position-relative" 
                                            name="favorite-form">

                                            <button 
                                                class="btn p-0 ml-1 " 
                                                type="submit"
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="{{'Remove from favorites' if song.id in favorites else 'Add to favorites'}}">
                                                <i class="{{'fa-solid fa-star' if song.id in favorites else 'fa-regular fa-star'}}"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <tr class="lower-track-row">
                                    <td class="track-details">
                                        <p>
                                            {{song.artist | truncate(20)}}    
                                        </p>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
                                </tr>
                               
                            {%endfor%}
                            </tbody>
                        </table>                                                     
                    </div>
                </div>
            </div>

            <div class="col-1 bg-secondary container d-flex flex-column justify-content-center p-1">
                <div class="right-sidebar ">
                    
                    <a href="/charts/{{ charts.next_num }}" 
                        class="h2 text-white"
                        {% if charts.page == charts.pages %}style="pointer-events: none"{% endif %}
                        >&raquo;
                        </a>
                    
                    
                </div>
            </div>
    </div>
</div>
{% endfor%} 
<hr> 
<div class="row col justify-content-center mx-auto">
    
    <a href="/charts/{{ charts.prev_num }}" 
        class="btn btn-lg btn-outline-dark 
        {% if charts.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    
    {% for page_num in charts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}        
        {% if page_num %}
            {% if charts.page == page_num %}
                <a href="/charts/{{page_num}}"
                class="btn btn-dark">
                    {{ page_num }}
                </a>
            {% else %}
                <a href="/charts/{{page_num}}"
                class="btn btn-outline-dark">
                    {{ page_num }}
                </a>
            {% endif %}
        {% else %}
            <p class="h4">...</p>
        {% endif %}
    {% endfor %}

  
    <a href="/charts/{{ charts.next_num }}"
    class="btn btn-lg btn-outline-dark 
    {% if charts.page == charts.pages %}disabled{% endif %}">
        &raquo;
    </a>
    
</div>

{% endblock %}