{% extends 'base.html' %}

{% block title%}
NOT FOUND
{% endblock%}

{% block content%}
<div class="container col-lg-10">
  <div class="text-center m-4"> <p class="h1">404 - Not Found</p></div>

    <div class="row align-items-center text-center">
        
      <div class="mx-auto">
        
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6b/The_Joshua_Tree.png/220px-The_Joshua_Tree.png"  class="d-block mx-lg-auto mx-md-auto img-fluid" alt="Bootstrap Themes" width="432" height="432" loading="lazy">
      </div>
      <div class="col-lg-6 text-center">
        
        <h2 class="display-8 fw-bold lh-1 mb-3">I Still Haven't Found What I'm Looking For</h2>
        <p class="lead">August 1987's #1 Hit from U2's <i>The Joshua Tree</i></p>
      </div>       
      </div>
    </div>
  

{% endblock %}