<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    FLASHBACK - {% block title %}{% endblock %}
  </title> 
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/static/css/styles.css" rel="stylesheet">
  
  
</head>

<header class="p-3 text-white bg-dark">
  <div class="navbar navbar-expand-md navbar-dark ">
  <div class="container ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center fs-4 mb-2 mb-lg-0  text-decoration-none">
        <span class="text-warning">FLASH</span><span class="text-white">BACK</span>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link ps-5 pe-2 text-warning">Features</a></li>
        <li><a href="/about" class="nav-link ps-2 text-warning">About</a></li>
        <li><a href="/search" class="nav-link ps-2 text-warning">Search</a></li>
        <li><a href="/charts" class="nav-link ps-2 text-warning">Charts</a></li>
        <li><a href="/songs" class="nav-link ps-2 pe-5 text-warning">Songs</a></li>
      </ul>

      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
      </form> -->

      <div class="text-end">
        <!-- This isn't working as intended -->
        {% if not g.user %}
        <a class="btn btn-outline-light me-2" href="/login">Login</a>
        <a class="btn btn-warning" href="/signup">Sign-up</a>
        <a class="" href="/users/{{ g.user.username }}">
          <img src="{{ g.user.profile_image_url }}" alt="{{ g.user.username }}">
        </a>
        
        {% else %}
        <a class="" href="/users/{{ g.user.id }}">
          <img src="{{ g.user.profile_img_url }}" alt="{{ g.user.username }}" width="38" height="38" class="rounded">
        </a>
        <a class="btn btn-warning" href="/logout">Log Out</a>
        {% endif %}
    </div>
  </div>
</div>
</header>
<body>

  {% for category, msg in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}}">{{ msg }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
  {% include 'loading.html' %} 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../static/js/app.js"></script>
</body>

</html>
