<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>FLASHBACK - {% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href="/static/css/styles.css" rel="stylesheet" />

    <script
      src="https://kit.fontawesome.com/b13fa23951.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <header class="text-white bg-dark pb-2 pt-2">
    <div class="navbar navbar-expand-md navbar-dark ">
      <div class="ml-3">
        <a href="/" class="text-decoration-none">
          <span class="h5 text-white">FLASH</span><span class="h5 text-warning">BACK</span>
        </a>
      </div>
      <div class="mr-3">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container justify-content-center flex-row ">
          <div class="d-flex container flex-md-row flex-column flex-column-sm ">
            <div class="d-flex container flex-column flex-md-row justify-content-center align-items-center">
              <div class="d-flex justify-content-center nav bd-highlight ">
                <a href="/features" class="nav-link ps-5 pe-2 text-warning"
                  >Features</a
                >
              </div>
              <div class="d-flex justify-content-center nav bd-highlight ">
                <a href="/about" class="nav-link ps-2 text-warning">About</a>
              </div>
              <div class="d-flex justify-content-center nav bd-highlight ">
                <a href="/search" class="nav-link ps-2 text-warning">Search</a>
              </div>
              <div class="d-flex justify-content-center nav bd-highlight ">
                <span data-toggle="modal" data-target="#loadingModal">
                  <a href="/charts" class="nav-link ps-2 text-warning">Charts</a>
                </span>
              </div>

              <div class="d-flex justify-content-center nav bd-highlight ">
                <span data-toggle="modal" data-target="#loadingModal">
                  <a href="/songs" class="nav-link ps-2 pe-5 text-warning">Songs</a>
                </span>
              </div>
            </div>   
          
            <div class="d-flex justify-content-center align-items-center ">
              {% if not g.user %}
              <a class="btn btn-outline-light" href="/login">Login</a>
              <a class="btn btn-warning" href="/signup">Sign&#8209up</a>
              <a class="" href="/users/{{ g.user.username }}">
                <img
                  src="{{ g.user.profile_image_url }}"
                  alt="{{ g.user.username }}"
                />
              </a>

              {% else %}
              <a class="" href="/users/{{ g.user.id }}">
                <img
                  src="{{ g.user.profile_img_url }}"
                  alt="{{ g.user.username }}"
                  width="38"
                  height="38"
                  class="rounded"
                />
              </a>
              <a class="btn btn-warning" href="/logout">Log&#160Out</a>
              {% endif %}
            </div>
          </div>
          

        </div>
      </div>
    </div>
  </header>
  <body>
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{category}}">{{ msg }}</div>
    {% endfor %} {% block content %}{% endblock %} {% include 'loading.html' %}

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../static/js/app.js"></script>
  </body>
</html>
