{% extends 'base.html' %}

{% block title %}Charts{% endblock %}

{% block content %}

<div class="container-fluid pt-5 text-center">

    <h1>Billboard's Hot 100</h1>
    <hr>
</div>

<div class="container col-md-6">
    <div class="container pt-5 ">
	<div class="row">
		<div class="col">
            <h6>Chart Date</h6>
        </div>
        <div class="col">
            <h6>Previous Chart</h6>
        </div>
        <div class="col">
            <h6>Next Chart</h6>
        </div>
    </div>
        {% for chart in charts %}
    
                <div class="row">
                    
                    <div class="col">
                         <a href="/chart/{{ chart.chart_date }}">{{chart.chart_date.month}}/{{chart.chart_date.day}}/{{chart.chart_date.year}}</a>
                    </div>
                    <div class="col">
                        
                        <p>
                            <span data-toggle="modal" data-target="#loadingModal"><a href="/exists/{{chart.prior_chart(chart.chart_date)}}">
                                {{chart.prior_chart(chart.chart_date)}}
                            </a></span>
                        </p>
           
                    </div>

                    <div class="col">
                        <p>
                            <span data-toggle="modal" data-target="#loadingModal"><a href="/exists/{{chart.next_chart(chart.chart_date)}}">
                                {{chart.next_chart(chart.chart_date)}}
                            </a></span>
                        </p> 
                    </div>
                </div>
           

            <div class="row ">
                <div class="container-fluid">
                {% for song, appearance in results[loop.index0] %}
                    {% if loop.index0 < 5 %}
                    <div class="row col-md-12">
                        <span>
                            #{{appearance.rank}} -                                                        
                            {{song.title | truncate(30)}} by {{song.artist | truncate(30)}}
                            
                            <p>
                                Date: {{appearance.chart_date}}
                            Peak: {{appearance.peak_pos}}
                            Last: {{appearance.last_pos}}                           
                            New: {{appearance.isNew}}
                        </p>
                            
                        </span>
                        
                    </div>
                    {% endif %}
                    {% if loop.last %}
                    <a href="/chart/{{appearance.chart_date}}">See Full Chart...</a>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
            **********************
            
                    
        {% endfor%}
          
        
        
        
        
    </div>
</div>



{% endblock %}