{% extends 'base.html' %}

{% block title %} INDEX {% endblock %}
{% block content %}

<div class="div container">

    <h1>Welcome</h1>

    <h3>Convenience links for site routes:</h3>

    <h5><a href="/search">SEARCH</a></h5>: Basic search page
    <h5><span data-toggle="modal" data-target="#loadingModal"><a href="/random">RANDOM</a></span></h5>: Returns a random chart result
    
    <h5><span data-toggle="modal" data-target="#loadingModal"><a href="/charts">CHARTS</a></span></h5>: Lists all charts currently in database
    <h5><span data-toggle="modal" data-target="#loadingModal"><a href="/songs">SONGS</a></span></h5>: Lists all songs currently in database
    <h5><span data-toggle="modal" data-target="#loadingModal"><a href="/songs/gallery" >CAROUSEL</a></span></h5>: A Boostrap carousel prototype for showing songs/chart results in cards.
    <h5><a href="/listing">LIST</a></h5>: Jukebox styled list prototype

    Convenience links for user features:
    <h5><a href="/login">LOGIN</a></h5>
    <h5><a href="/signup">SIGNUP</a></h5>
    <h5><a href="/logout">LOGOUT</a></h5>

</div>
{% endblock %}