{% extends 'base.html' %}

{% block title %}{{song.title | truncate(20)}} by {% endblock %}

{% block content %}
<div class="div container pt-5">
    
   <p>Title:  {{song.title}}</p>
   <p>Artist:  {{song.artist}}</p>
   <p>Appears on: 
      <ul>{% for appearance in appearances %}
      <li><a href="/chart/{{appearance.chart_date}}">{{appearance.chart_date}}</a></li>
      {% endfor %}
   </ul>
   </p>
   <p>
      <img src="{{song.song_img_url}}" height="100px">
      Artist Page: <a href="{{song.artist_page}}">{{song.artist_page}}</a>
      <br>
      Img URL: {{song.song_img_url}}
 
   </p>

</div>
{% endblock %}