{% extends 'base.html' %}

{% block title %}Songs{% endblock %}

{% block content %}
<div class="container-fluid ">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header text-center pb-3">
				<h1>
					Billboard Hits 
				</h1>
                <p><small>Returned {{songs.total }} songs from {{chart_total}} charts.</small></p>
			</div>
    
        {% for song in songs.items %}
            <div class="container">      
                <div class="row ">    
                    <div class="d-flex">
                       <img class="img-fluid" src="{{song.song_img_url}}" height="64px" width="64px"/>
                           <span class="ml-5 ">
                               <a href="/song/{{song.id}}">{{song.title}}</a>
                            by {{song.artist}}
                             <form method="POST" 
                                action="/songs/{{songs.page}}/favorite/{{song.id}}" 
                                class="float-right" 
                                name="favorite-form">
                                <button 
                                    class="btn p-0 ml-1" 
                                    type="submit"
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="top" 
                                    title="{{'Remove from favorites' if song.id in favorites else 'Add to favorites'}}">
                                    <i class="{{'fa-solid fa-star' if song.id in favorites else 'fa-regular fa-star'}}"></i>
                                 </button>
                             </form>
                        </span>
                        
                    </div>      
                </div>
            </div>    
        {% endfor %}

        <!-- Pagination -->
        <div class="text-center container pt-5">
            <a href="/songs/{{ songs.prev_num }}" 
                class="btn btn-outline-dark 
                {% if songs.page == 1 %}disabled{% endif %}">
                &laquo;
            </a>

        
    {% for page_num in songs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}        
                {% if page_num %}
                    {% if songs.page == page_num %}
                        <a href="/songs/{{page_num}}"
                        class="btn btn-dark">
                            {{ page_num }}
                        </a>
                    {% else %}
                        <a href="/songs/{{page_num}}"
                        class="btn btn-outline-dark">
                            {{ page_num }}
                        </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            <a href="/songs/{{ songs.next_num }}"
            class="btn btn-outline-dark 
            {% if songs.page == songs.pages %}disabled{% endif %}">
                &raquo;
            </a>

           
    
		</div>
	</div>
</div>
   
{% endblock %}
