{% extends 'base.html' %}

{% block title %}Songs{% endblock %}

{% block content %}
<div class="container-fluid ">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header text-center pb-3">
				<h1>
					Billboard Hits 
				</h1>
                <p><small>Returned {{songs.total }} songs from {{chart_total}} charts.</small></p>
			</div>

        {% for song in songs.items %}
            <div class="container">      
                <div class="row">    
                    <div class="d-flex">
                       <img class="img-fluid" src="{{song.song_img_url}}" height="64px" width="64px"/>
                           <span class="ml-5"><a href="/song/{{song.id}}">{{song.title}}</a>
                            by {{song.artist}} </span>
                        
                    </div>      
                </div>
            </div>    
        {% endfor %}

        <!-- Pagination -->
        <div class="text-center container pt-5">
            <a href="/songs/{{ songs.prev_num }}" 
                class="btn btn-outline-dark 
                {% if songs.page == 1 %}disabled{% endif %}">
                &laquo;
            </a>

        
            {% for page_num in songs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if songs.page == page_num %}
                        <a href="/songs/{{page_num}}"
                        class="btn btn-dark">
                            {{ page_num }}
                        </a>
                    {% else %}
                        <a href="/songs/{{page_num}}"
                        class="btn btn-outline-dark">
                            {{ page_num }}
                        </a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}

            <a href="/songs/{{ songs.next_num }}"
            class="btn btn-outline-dark 
            {% if songs.page == songs.pages %}disabled{% endif %}">
                &raquo;
            </a>

           
    
		</div>
	</div>
</div>
   
{% endblock %}
