{% extends 'base.html' %}

{% block title %} TEST {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="row">
            {% for entry in chart %}
                
                <div class="col-sm-6 card" style="width: 18rem">
                    <img src="{{ entry.image }}" class="card-img-top" alt=""/>
                    <div class="div card-body">
                        
                        <h5 class="card-title">{{entry.title}} by {{entry.artist|truncate(20)}}</h5>
                        <p class="card-text">Highest position: {{entry.peakPos}} </p>
                        <p class="card-text">{{entry.weeks}} weeks on chart</p>
                        
                    </div>
                </div>
                <!-- <li>
                    
                    {{entry.title}} by {{entry.artist}}
                    
                </li> -->

            {% endfor %}
        </div>
    </div>

    
{% endblock %}