{% extends 'base.html' %}

{% block content %}
<div class="container-fluid col-md-5 col-lg-3 pt-4">
    <h1 class="pb-2">Delete your profile? </h1>  
<form method="POST" id="delete_form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <strong>{{field.label.text}}</strong>
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <p class="pt-5"><small>To confirm changes, enter your password:</small></p>
    {% if form.password.errors %}
      {% for error in form.password.errors %}
        <span class="text-danger">
        {{ error }}
      </span>
      {% endfor %}
    {% endif %}
    {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

    <div class="pt-3">
      <button class="btn btn-danger">Delete Profile?</button>
      <a href="/users/{{ g.user.id }}" class="btn btn-outline">Cancel</a>
    </div>
  </form>
 
</div> 
{% endblock %}