{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row container-fluid justify-content-center">

  <div class="row col-12 justify-content-center">
      <h2 class="text-center">Edit Your Profile</h2>
  </div>

  <div class="row col-12 ">
    <div class="col">
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <strong>{{field.label.text}}</strong>
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <p class="pt-5"><small>To confirm changes, enter your password:</small></p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <div class="p-1">
          <button class="btn btn-success">Submit Changes</button>
          <a href="/users/{{ user_id }}" class="btn btn-danger">Cancel</a>
        </div>
      </form>
    </div>
</div>
    </div>
  </div>
</div>
{% endblock %}