{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="container-fluid col-12">
    <div class="row user-info pt-4">
      <div class="col-5 col-md-3 col-lg-2 text-center">
        <h2>Hello {{ user.username }}</h2>
      </div>
    </div>
  <div class="row"> 
    <div class="col-5 col-md-3 col-lg-2 text-center ">
      <img src="{{user.profile_img_url}}" height="auto" class="img-fluid mx-auto d-block">
      <span ><small><a href="/users/profile">Update your profile</a></small></span>
    </div>
    <div class="container row col-7 col-md-9 col-lg-10 justify-content-center">
      <div class="col-6 col-md-7 col-lg-6 ">
        {% if user.date_of_birth %}
          <div>
            <p><strong>Search for the chart on the week of your:</strong></p>
            <p><span data-toggle="modal" data-target="#loadingModal"><a href="/search/{{user.date_of_birth}}">Birth</a></span></p>
            <p><span data-toggle="modal" data-target="#loadingModal"><a href="/search/{{user.birth_charts(6)}}">6th Birthday</a></span></p>
            <p><span data-toggle="modal" data-target="#loadingModal"><a href="/search/{{user.birth_charts(12)}}">12th Birthday</a></span></p>
            <p><span data-toggle="modal" data-target="#loadingModal"><a href="/search/{{user.birth_charts(18)}}">18th Birthday</a></span></p>
            <p><span data-toggle="modal" data-target="#loadingModal"><a href="/search/{{user.birth_charts(24)}}">24th Birthday</a></span></p>
          </div>    
        {% else %}
        <span>
          <p class="text-center text-sm-left">A birthday is required for age-based chart suggestions</p>
          <p><a href="/users/profile">Add one to your profile?</a></p>
        </span>
 

        {% endif %}
      
      </div>
      <div class="col-2 col-md-3 col-lg-4"></div>
    </div>
  </div>
  <div class="row">
    
    <div class="col-12 col-md-10 col-lg-9 container ml-0 pl-2">
      <div class="row favorite-song-label col">
        {% if favorites %}
        <div class="h4 col container pt-4 pl-5 text-left">Your {{favorites | length}} favorite songs:</div>
        {% else %}
        <div class="h4 col container pt-4 pl-5 text-left">No favorite songs added yet</div>
        {% endif %}
      </div>
      <div class="row">
        <div class="col col-md-2 col-lg-1"></div>
        <div class="container-fluid col-md-6 col-lg-6 ">
          <ul> 
              {% for song in songs %}
              <div class="row col">
                <li>
                  <span>
                  <a href="/song/{{song.id}}" class="h6">{{song.title}}</a> by {{song.artist | truncate(25)}}
                    <form method="POST" 
                      action="/users/{{user.id}}/removefavorite/{{song.id}}" 
                      class="float-right" 
                      name="favorite-form">

                      <button 
                        class="btn btn-sm text-danger p-0 ml-1"
                        data-bs-toggle="tooltip" 
                        data-bs-placement="top" 
                        title="Remove from favorites" 
                        type="submit">
                          X
                      </button>
                    
                    </form>
                  </span>
                </li>
              </div>
              {% endfor %}
            
          </ul>
        
        </div>
        <div class="col-md col-lg-5">
         
          <form name="form" id="form" method="POST">
              {{ form.hidden_tag() }}
      
              {% for field in form if field.widget.input_type != 'hidden'%}
              <div class="form-group">
                {{field.label}}
                {{field(class_="form-control")}}
                {% for err in field.errors %}
                <small class="form-text text-danger">
                  {{err}}
                </small>
                {% endfor %}
              </div>
              {% endfor %}
              <button class="btn  btn-success  btn-lg">Submit</button>
            </form>
          
        </div>
      </div>
      
    </div>
  </div>
  
</div>
{% endblock %}