{% extends 'base.html' %}

{% block title %}{{song.title | truncate(20)}} by {% endblock %}

{% block content %}
<div class="container-fluid pt-5">
   <div class="row col-12 col-sm-12 col-md-12 col-lg-10 px-0">
      <div class="col-4 col-sm-6 col-md-5 col-lg-3 ">
         
         <a href="{{song.artist_page}}">
            <img src="{{song.song_img_url}}" 
            height="auto" 
            class="rounded img-fluid mx-auto d-block ">
         </a>
         <!-- col-sm-12 col-md-8 col-md-10 col-lg-10  -->
         
      </div>
      <div class="container col-8 col-sm-6 col-md-7 col-lg-9 float-left pl-2 ">
         <div class="row col m-0 p-0 d-flex">
            <div class="col-3 col-sm-3 col-md-2 col-lg-2 col-xl-2 pr-1">
               <form method="POST" 
                  action="/song/{{song.id}}/favorite" 
                  class="float-left" 
                  name="favorite-form">
                  <button 
                     class="btn btn-lg pt-1 ml-1" 
                     type="submit"
                     data-bs-toggle="tooltip" 
                     data-bs-placement="top" 
                     title="{{'Remove from favorites' if song.id in favorites else 'Add to favorites'}}">
                     <i class="{{'fa-solid fa-star' if song.id in favorites else 'fa-regular fa-star'}}"></i>
                  </button>
               </form>
            </div>
            <div class="col-9 col-md-10">
               <p class="h2 ">{{song.title}}</p>
            </div>
         </div>
         <div class="row col pl-5">
            <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2 pr-1">
            </div>
            <div class="h5">{{song.artist}}</p>
            </div>
         </div>
         <div class="row col pl-5">
            <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2 pr-1"></div>
            <div>
               {% for appearance in appearances %}
                  {% if loop.first %}            
                     <p class="h6">A #{{appearance.peak_pos}} hit!</P>
                  {% endif %}
               {% endfor %}
            </div>
         </div>           
      </div>
   </div>
   <div class="row col-12 col-sm-12 col-md-12 col-lg-10 ">
   <div class="row container-fluid pt-3 mx-auto "> 
      <div class="h3 col text-center">
         Chart History
      </div>
   </div>
   <div class="row col mx-auto pt-3"> 
      <div class=" float-left pt-2 col  text-center">
         <div class="row">
            <div class="col">Date</div>
            <div class="col">Rank</div>
            <div class="col">Last Week</div>
            <div class="col">Weeks</div>
         </div>
         {% for appearance in appearances %}
         <div class="row">
            <div class="col">
               <a href="/chart/{{appearance.chart_date}}">
               {{appearance.chart_date}}
               </a>
            </div>
            <div class="col">{{appearance.rank}}</div>
            <div class="col">{{appearance.last_pos}}</div>
            <div class="col">{{appearance.weeks}}</div>
               
         </div>
         {% endfor %}
      </div>
   </div>
</div>
{% endblock %}